.about_container{
    display: flex;
    justify-content:space-between;
    width: 80%;
    background-color:blanchedalmond;
    margin: 50px auto;
    padding:30px;
    box-shadow:7px 7px 20px rgb(23, 85, 18);
}
.about_container h1{
    color: rgba(22, 85, 18, 0.788);
}
.about_container img{
    width: 100%;
}
.skillSpans{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}
span{
    display: inline-block;
}